django==4.*
gunicorn
django-environ
djangorestframework
requests
django-filter
django-cors-headers
psycopg2-binary
djangorestframework-simplejwt
fiona==1.8.20
django-cors-headers
django-extensions
google-api-python-client