// CARD GLOW EFFECT - Stard
.glow-effect {
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--bg-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-effect:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-effect:active {
  color: var(--bg-color);
}

.glow-effect:active:after {
  background: transparent;
}

.glow-effect:before {
  opacity: 1;
}

.glow-effect:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
// CARD GLOW EFFECT - End

// Nuxt Trantitions - Start //
.cards-enter-active,
.cards-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.cards-enter-from,
.cards-leave-to {
  opacity: 0;
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.25s;
}

.page-enter-from {
  opacity: 0;
  filter: blur(0%);
}

.page-leave-from {
  opacity: 100%;
  filter: blur(100%);
}
// Nuxt Trantitions - End //

// General skeleton loading animation - Start //
.skeleton-box {
  background-color: var(--skeleton-primary-color);
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(#dadada80, 0) 0,
    rgba(#dadada80, 0.2) 20%,
    rgba(#dadada80, 0.5) 60%,
    rgba(#dadada80, 0)
  );
  animation: shimmer 1.3s infinite;
  content: "";
}

@keyframes shimmer {

  100% {
    transform: translateX(100%);
  }
}
// General skeleton loading animation - End //
