@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --border-radius: 8px;
  /* Dark/Light mode variables */
  --bg-color: #0f0f0f;
  --bg-card-glass: #1d1d1d;
  --bg-card-glass-hover: #343434;
  --bg-input-field: #1d1d1d;
  --bg-card-attribute: #72eb3a08;
  --bg-trending-category: #222428;
  --bg-attribute-warn: #352919;
  --icon-color: #96a2b5e5;
  --icon-text-color: #ffffffc2;
  --border-color-cards: rgb(255 255 255 / 6%);
  --nav-color: #1a1a1a;
  --text-color: #e7e7e7;
  --text-card-color: rgba(255, 255, 255, 0.8);
  --text-color-sidebar: #c1c1c1;
  --text-color-hover: #f2f2f2;
  --text-attribute-warn: #ffac00;
  --hr-color: #919191;
  --card-attribute-color: #71e33c;
  --nav-item-hover:#f0f0f0;
}

.light {
  /* Dark/Light mode variables */
  --bg-color: rgb(252, 252, 252);
  --bg-card-glass: #f5f5f5;
  --bg-card-glass-hover: rgba(236, 236, 236, 0.916);
  --bg-input-field: #ededed;
  --bg-card-attribute: #72eb3a08;
  --bg-trending-category: #4d4d4d14;
  --bg-attribute-warn: #352919;
  --icon-color: rgba(0, 0, 0, 0.8);
  --icon-text-color: rgba(0, 0, 0, 0.8);
  --border-color-cards: rgba(48, 48, 48, 0.125);
  --nav-color: #ffffff;
  --text-color: #000000;
  --text-card-color: rgba(0, 0, 0, 0.8);
  --text-color-sidebar: #373737;
  --text-color-hover: #313131;
  --text-attribute-warn: #ffac00;
  --hr-color: #454545;
  --card-attribute-color: #226d00;
  --nav-item-hover: #000;
}

html {
  color-scheme: light dark;
  background-color: var(--bg-color) !important;
  height: 100%;
}


body {
  background: var(--bg-color) !important;
}


* {
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Barlow', sans-serif;
}

hr {
  border-color: var(--hr-color) !important;
}

.text-wrapper {
  color: var(--text-color-hover) !important;
}

#__nuxt {
  background-color: var(--bg-color);
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.grid {
  display: grid !important;
}

.grid-template-col-auto-03 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Glassmorphism properties */
.glass-card {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: var(--bg-card-glass);
  border-radius: 12px;
  border: 1px solid var(--border-color-cards);
}

.api_count {
  color: var(--icon-text-color);
  opacity: 40%;
}

/* Responsive properties */
@media (min-width: 1581px) {
  #__nuxt {
    background-color: var(--bg-color);
    margin-left: 3vw;
    margin-right: 3vw;
  }

  body {
    background: var(--bg-color) !important;
  }
}
