@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
  /* --bg-color: #242424;
  --nav-color: #1a1a1a;
  --text-color: white; */

  --border-radius: 8px;
}

[data-theme="dark"] {
  /* Dark/Light mode variables */
  --bg-color: #0f0f0f;
  --bg-card-glass: #1d1d1d;
  --bg-card-glass-hover: #343434;
  --bg-input-field: #212329;
  --bg-card-attribute: #72eb3a08;
  --bg-trending-category: #4d4d4d33;
  --icon-color: white;
  --border-color-cards: rgba(255, 255, 255, 0.125);
  --nav-color: #1a1a1a;
  --text-color: #e7e7e7;
  --text-color-hover: #f2f2f2;
  --hr-color: #919191;
  --card-attribute-color: #71e33c;
  --nav-item-hover:#f0f0f0;
}

[data-theme="light"] {
  /* Dark/Light mode variables */
  --bg-color: rgb(252, 252, 252);
  --bg-card-glass: #ffffff;
  --bg-card-glass-hover: rgba(236, 236, 236, 0.916);
  --bg-input-field: #ededed;
  --bg-card-attribute: #72eb3a08;
  --bg-trending-category: #4d4d4d14;
  --icon-color: black;
  --border-color-cards: rgba(48, 48, 48, 0.125);
  --nav-color: #ffffff;
  --text-color: #000000;
  --text-color-hover: #313131;
  --hr-color: #454545;
  --card-attribute-color: #226d00;
  --nav-item-hover: #000;
}

html {
  background-color: var(--bg-color) !important;
  height: 100%;
}


body {
  background: var(--bg-color) !important;
}


* {
  font-family: 'Titillium Web', sans-serif;
}


hr {
  border-color: var(--hr-color) !important;
}

.text-wrapper {
  color: var(--text-color-hover) !important;
}

#app {
  background-color: var(--bg-color);
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.grid {
  display: grid !important;
}

.grid-template-col-auto-03 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Glassmorphism properties */

.glass-card {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: var(--bg-card-glass);
  /* background-color: rgba(var(--bg-color), 0.78); */
  border-radius: 12px;
  border: 1px solid var(--border-color-cards);
}

/* Responsive properties */
@media (min-width: 1581px) {
  #app {
    background-color: var(--bg-color);
    margin-left: 3vw;
    margin-right: 3vw;
  }

  body {
    background: var(--bg-color) !important;
  }
}
